<div class="row">
    <div class="col-sm-12">
        <div id="myModal" class="modal fade"  data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header justify-content-center" id="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                        {% comment %} <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> {% endcomment %}
                    </div>
                    <div class="modal-body text-center">
                        <h4 id="result1">Great!</h4>	
                        <a href="">Contact a doctor</p>
                        <button onClick="window.location.reload();" class="btn btn-success" data-dismiss="modal"><span>ReTake Test</span> <i class="material-icons">&#xE5C8;</i></button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>  